
.detail {
    text-align: center;
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    background-color: aliceblue
}

.button1 {
    background-color: #48C9B0;
    width: 100%;
    font-size: 24px;
}

.button2 {
    background-color: #EC7063;
    width: 100%;
    font-size: 24px;
}